body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background: linear-gradient(to top, #63C7E7, #77f827);
    padding: 20px;
}

.logo {
    width: 800px;
    height: 200px;
}

.content {
    flex: 1;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;

    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.sidebar a:hover {
    background-color: #ddd;
}